In [15]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:2px;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.text_cell_render.rendered_html{font-size:10pt;}
div.output {font-size:10pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:11pt;padding:4px;}
table.dataframe{font-size:10px;}
</style>
"""))

In [14]:
import pandas as pd
import statsmodels.api as sm  # 회귀모델
import joblib # pkl이나 joblib로 모델 저장, load
import tkinter as tk

In [41]:
df = pd.read_csv('목적별_국적별_입국자수_나라코드정렬.csv')
df1 = pd.read_csv('목적별_국적별_입국자수_.csv', comment='#', encoding='utf-8')

In [42]:
df

,country_kr,country_en,country_code,purpose_kr,purpose_en,purpose_code,ym,year,month,visitors,is_peak,lag_1,rolling_mean_3
0,아르헨티나,Argentina,0,기타,Other,3,2025-05,2025,5,257,0,215.0,150.666667
1,아르헨티나,Argentina,0,유학연수,Study,4,2023-07,2023,7,4,1,5.0,2.333333
2,아르헨티나,Argentina,0,유학연수,Study,4,2023-06,2023,6,5,0,2.0,1.666667
3,아르헨티나,Argentina,0,유학연수,Study,4,2023-05,2023,5,2,0,0.0,3.333333
4,아르헨티나,Argentina,0,유학연수,Study,4,2023-04,2023,4,0,0,3.0,4.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24173,베트남,Vietnam,63,관광,Tourism,5,2021-10,2021,10,303,0,304.0,434.666667
24174,베트남,Vietnam,63,관광,Tourism,5,2021-11,2021,11,492,0,303.0,371.333333
24175,베트남,Vietnam,63,관광,Tourism,5,2021-12,2021,12,976,1,492.0,366.333333
24176,베트남,Vietnam,63,상용,Business,1,2019-05,2019,5,1073,0,1271.0,1041.333333
24177,베트남,Vietnam,63,유학연수,Study,4,2022-05,2022,5,1152,0,990.0,2217.333333

In [44]:
dff = df1.fillna(0)
dff.to_csv('목적별_국적별_결측치.csv', index=False)

In [26]:
cols = [
    'country_kr', 'country_en', 'country_code',
    'purpose_kr', 'purpose_en', 'purpose_code',
    'ym', 'year', 'month',
    'visitors',
    'is_peak', 'lag_1', 'rolling_mean_3'
]
df = df[cols]
df_sorted = df.sort_values(['country_code', 'ym']).reset_index(drop=True)
df

,country_kr,country_en,country_code,purpose_kr,purpose_en,purpose_code,ym,year,month,visitors,is_peak,lag_1,rolling_mean_3
0,아르헨티나,Argentina,0,기타,Other,3,2025-05,2025,5,257,0,215.0,150.666667
1,아르헨티나,Argentina,0,유학연수,Study,4,2023-07,2023,7,4,1,5.0,2.333333
2,아르헨티나,Argentina,0,유학연수,Study,4,2023-06,2023,6,5,0,2.0,1.666667
3,아르헨티나,Argentina,0,유학연수,Study,4,2023-05,2023,5,2,0,0.0,3.333333
4,아르헨티나,Argentina,0,유학연수,Study,4,2023-04,2023,4,0,0,3.0,4.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24173,베트남,Vietnam,63,관광,Tourism,5,2021-10,2021,10,303,0,304.0,434.666667
24174,베트남,Vietnam,63,관광,Tourism,5,2021-11,2021,11,492,0,303.0,371.333333
24175,베트남,Vietnam,63,관광,Tourism,5,2021-12,2021,12,976,1,492.0,366.333333
24176,베트남,Vietnam,63,상용,Business,1,2019-05,2019,5,1073,0,1271.0,1041.333333
24177,베트남,Vietnam,63,유학연수,Study,4,2022-05,2022,5,1152,0,990.0,2217.333333

In [25]:
df.to_csv('목적별_국적별_입국자수_나라코드정렬.csv', index=False)

In [35]:
sorted(df['purpose_code'].unique())

[0, 1, 2, 3, 4, 5]

In [26]:
X = df[['purpose_code','country_code','year','month']].copy()
X['const'] = 1
y = df['visitors']
X.shape, y.shape

((24178, 3), (24178,))

In [27]:
model = sm.OLS(y, X).fit() # 회귀모델
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               visitors   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     3.805
Date:                Wed, 09 Jul 2025   Prob (F-statistic):             0.0223
Time:                        13:06:36   Log-Likelihood:            -2.9946e+05
No. Observations:               24178   AIC:                         5.989e+05
Df Residuals:                   24175   BIC:                         5.990e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
year         553.8685    201.270      2.752      0.006     159.366     948.370
month         54.9579    108.174      0.508      0.611    -157.069     266.985
const      -1.115e+06   4.07e+05     -2.740      0.006   -1.91e+06   -3.18e+05
==============================================================================
Omnibus:                    54586.379   Durbin-Watson:                   0.082
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        277312566.447
Skew:                          21.757   Prob(JB):                         0.00
Kurtosis:                     525.855   Cond. No.                     2.21e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.21e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [28]:
joblib.dump(model, 'foreign_visitors.joblib')

['foreign_visitors.joblib']

In [42]:
import pandas as pd
import statsmodels.api as sm  # 회귀모델
import joblib # pkl이나 joblib로 모델 저장, load
import tkinter as tk 

def on_submit(event=None):
    '입력된 나라코드, 목적코드, 년도, 월을 예측한 결과 출력'
    country = int(country_code.get())
    purpose = int(purpose_code.get())
    year = int(year.get())
    month = int(month.get())
    model = joblib.load('foreign_visitors.joblib')
    result = round(model.predict([country, purpose, year,month, 1])[0])
    result_msg = '예상 입국자 수 : {} 명입니다.'.format(format(result,','))
    pred_label.configure(text=result_msg)
    print(result_msg)

    # 예상 금액 출력 후 입력값 지우고 tear_entry에 포커싱
    country_code.delete(0, len(year_entry.get())) # 비추
    purpose_code.delete(0, tk.END)
    year.delete(0, tk.END)
    month.delete(0, tk.END)
    country_entry.focus_set()
    

root = tk.Tk()
root.geometry('300x250')
country_label = tk.Label(root, text='나라의 코드 : 0~63')
country_label.pack()
country_entry = tk.Entry(root)
country_entry.pack(pady=5)  # pady : 위아래 여백

purpose_label = tk.Label(root, text='목적 코드 : 0~5')
purpose_label.pack()
purpose_entry = tk.Entry(root)
purpose_entry.pack(pady=5)  # pady : 위아래 여백

year_label = tk.Label(root, text='년도')
year_label.pack()
year_entry = tk.Entry(root)
year_entry.pack(pady=5)  # pady : 위아래 여백

month_label = tk.Label(root, text='월')
month_label.pack()
month_entry = tk.Entry(root)
month_entry.pack(pady=5)  # pady : 위아래 여백

submit_button = tk.Button(root, text='예측', 
                          command=on_submit,
                         )
submit_button.pack(pady=15)


pred_label = tk.Label(root, text='예측 입국자 수 출력 예정')
pred_label.pack(pady=10)

country_entry.focus_set()  # GUI창이 포커싱되면 year_entry에 자동 포커싱
root.bind('<Return>', on_submit)
root.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\tkinter\__init__.py", line 1921, in __call__
    return self.func(*args)
  File "C:\Users\Admin\AppData\Local\Temp\ipykernel_12224\697498170.py", line 3, in on_submit
    country = int(country_code.get())
NameError: name 'country_code' is not defined
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\tkinter\__init__.py", line 1921, in __call__
    return self.func(*args)
  File "C:\Users\Admin\AppData\Local\Temp\ipykernel_12224\697498170.py", line 3, in on_submit
    country = int(country_code.get())
NameError: name 'country_code' is not defined
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\tkinter\__init__.py", line 1921, in __call__
    return self.func(*args)
  File "C:\Users\Admin\AppData\Local\Temp\ipykernel_12224\697498170.py", line 3, in on_submit
    country = int(country_code.get())
NameError: name 'country_code' is not defined

In [2]:
import pandas as pd
import statsmodels.api as sm
import joblib

# ✅ 예시 데이터 로드 (너가 제공한 CSV 사용)
df = pd.read_csv('목적별_국적별_입국자수.csv')

# 숫자 전처리 (필요에 따라!)
df['visitors_num'] = df['visitors'].astype(str).str.replace(',', '').astype(float)

# ✅ 독립변수 & 종속변수
X = df[['country_code', 'purpose_code', 'year', 'month', 'is_peak']]
X = sm.add_constant(X)  # statsmodels는 const 필요
y = df['visitors']

# ✅ 회귀모델 훈련
model = sm.OLS(y, X).fit()

# ✅ 모델 저장
joblib.dump(model, 'foreign_visitors.joblib')
print('✅ 모델 저장 완료')

✅ 모델 저장 완료

In [13]:
import pandas as pd
import statsmodels.api as sm
import joblib
import tkinter as tk

def on_submit(event=None):
    # 입력 가져오기
    country = int(country_entry.get())
    purpose = int(purpose_entry.get())
    year_val = int(year_entry.get())
    month_val = int(month_entry.get())

    # 모델 로드
    model = joblib.load('foreign_visitors.joblib')

    # ✅ statsmodels는 X구조와 동일한 DataFrame 필요
    X_new = pd.DataFrame([{
        'const': 1,
        'country_code': country,
        'purpose_code': purpose,
        'year': year_val,
        'month': month_val,
        'is_peak': 1
    }])

    # 예측
    result = round(model.predict(X_new)[0])
    result_msg = f'예상 입국자 수 : {format(result, ",")} 명입니다.'
    pred_label.configure(text=result_msg)
    print(result_msg)

    # 입력창 리셋
    country_entry.delete(0, tk.END)
    purpose_entry.delete(0, tk.END)
    year_entry.delete(0, tk.END)
    month_entry.delete(0, tk.END)
    country_entry.focus_set()

# ✅ tkinter UI
root = tk.Tk()
root.geometry('300x300')

tk.Label(root, text='나라 코드 :').pack()
country_entry = tk.Entry(root)
country_entry.pack(pady=5)

tk.Label(root, text='목적 코드 :').pack()
purpose_entry = tk.Entry(root)
purpose_entry.pack(pady=5)

tk.Label(root, text='년도 :').pack()
year_entry = tk.Entry(root)
year_entry.pack(pady=5)

tk.Label(root, text='월 :').pack()
month_entry = tk.Entry(root)
month_entry.pack(pady=5)

submit_button = tk.Button(root, text='예측', command=on_submit)
submit_button.pack(pady=15)

pred_label = tk.Label(root, text='예측 결과가 여기에 표시됩니다.')
pred_label.pack(pady=10)

country_entry.focus_set()
root.bind('<Return>', on_submit)
root.mainloop()

예상 입국자 수 : 1,563 명입니다.
예상 입국자 수 : 1,641 명입니다.

In [12]:
df[df['country_code'] == 1]

,country_kr,purpose_kr,ym,year,month,visitors,country_en,purpose_en,country_code,purpose_code,is_peak,lag_1,rolling_mean_3,visitors_num
12705,오스트레일리아,상용,2019-01,2019,1,93,Australia,Business,1,1,0,NaN,NaN,93.0
12706,오스트레일리아,상용,2019-02,2019,2,73,Australia,Business,1,1,0,93.0,NaN,73.0
12707,오스트레일리아,상용,2019-03,2019,3,99,Australia,Business,1,1,0,73.0,NaN,99.0
12708,오스트레일리아,상용,2019-04,2019,4,77,Australia,Business,1,1,0,99.0,88.333333,77.0
12709,오스트레일리아,상용,2019-05,2019,5,77,Australia,Business,1,1,0,77.0,83.000000,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13085,오스트레일리아,기타,2025-01,2025,1,1808,Australia,Other,1,3,0,1921.0,1869.333333,1808.0
13086,오스트레일리아,기타,2025-02,2025,2,1559,Australia,Other,1,3,0,1808.0,1798.000000,1559.0
13087,오스트레일리아,기타,2025-03,2025,3,1847,Australia,Other,1,3,0,1559.0,1762.666667,1847.0
13088,오스트레일리아,기타,2025-04,2025,4,1799,Australia,Other,1,3,0,1847.0,1738.000000,1799.0
13089,오스트레일리아,기타,2025-05,2025,5,1719,Australia,Other,1,3,0,1799.0,1735.000000,1719.0

In [10]:
df

,country_kr,purpose_kr,ym,year,month,visitors,country_en,purpose_en,country_code,purpose_code,is_peak,lag_1,rolling_mean_3,visitors_num
0,그리스,상용,2019-01,2019,1,17,Greece,Business,17,1,0,NaN,NaN,17.0
1,그리스,상용,2019-02,2019,2,27,Greece,Business,17,1,0,17.0,NaN,27.0
2,그리스,상용,2019-03,2019,3,13,Greece,Business,17,1,0,27.0,NaN,13.0
3,그리스,상용,2019-04,2019,4,15,Greece,Business,17,1,0,13.0,19.000000,15.0
4,그리스,상용,2019-05,2019,5,21,Greece,Business,17,1,0,15.0,18.333333,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24173,홍 콩,기타,2025-01,2025,1,267,Hong Kong,Other,18,3,0,267.0,274.666667,267.0
24174,홍 콩,기타,2025-02,2025,2,283,Hong Kong,Other,18,3,0,267.0,265.000000,283.0
24175,홍 콩,기타,2025-03,2025,3,282,Hong Kong,Other,18,3,0,283.0,272.333333,282.0
24176,홍 콩,기타,2025-04,2025,4,287,Hong Kong,Other,18,3,0,282.0,277.333333,287.0
24177,홍 콩,기타,2025-05,2025,5,333,Hong Kong,Other,18,3,0,287.0,284.000000,333.0